 /* Carousel image sizes */
 #hobbyCarousel .carousel-item img {
    width: 100%; /* responsive width */
    height: 500px; /* keep the height fixed height */
    object-fit: cover; /* don't want the image to be distorted */
}

.grad{
    border-radius: 20%;
    overflow: hidden;
    width: 200px;
    height: auto;

}

#title{
    color:#05445E;
    background-color:#189AB4 ;
}
.imghobby{
size: 10px;
background-color: aqua;
margin-top: 20px;
margin-left: 30px;
}

.about{
    background-color: #189AB4;
    text-align: center;
    ;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    padding: 10px 10px 10px;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
}

.bio{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px 10px 10px;

}

#classes{
    background-color: #75E6DA

    ;
}

.ocean {
    background-color: aquamarine;
    width: 1080px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
}

.imghobby{
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;

}

.hobbytitle{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    font-size: 40px;
    background-color: #189AB4


    ;
}

.cert{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
}

.card-title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
    font-weight: bold;
  }




  input[type=submit] {
    background-color: #75E6DA;
    color: black;
    padding: 12px 20px;
    border: black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  input[type=submit]:hover {
    background-color: #75E6DA;

  }

    .container {
        border-radius: 5px;
        background-color: #75E6DA;
        padding: 20px;
        color: black
      }



#contact{
    background-color:#75E6DA ;
    padding:50px;
    font-weight: bold;

}

h7{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;

}
.contact-info{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: left;
}
